name: Build and Release Linux AppImage

on:
  workflow_dispatch:
  pull_request:
  push:
    tags:
      - "v*"

jobs:
  build-linux:
    runs-on: ubuntu-latest
    if: "!contains(github.head_ref, 'release-please--')"
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: env
        run: |
          cat build.env >> $GITHUB_ENV
          echo $PWD/flutter/bin >> $GITHUB_PATH

      - name: Build
        run: ./build-scripts/build-linux.sh "${{ env.FLUTTER_VERSION }}"

      - name: appimage
        run: ./build-scripts/build-appimage.sh

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/v')
        with:
          files: |
            ./misc/CLOAK-Wallet-x86_64.AppImage
            ./zwallet.tgz
            ./libzeos_caterpillar.so

      - uses: actions/upload-artifact@v4
        with:
          name: AppImage
          path: ./misc/CLOAK-Wallet-x86_64.AppImage
          retention-days: 3
